<a href="https://colab.research.google.com/github/ElenaMakarova91/SkillFactory/blob/main/module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
from google.colab import drive
drive.mount('/content/drive')

data = pd.read_csv('./drive/My Drive/Colab Notebooks/skillfactory/movie_bd_v5.csv')
data.sample(1)

Mounted at /content/drive

        imdb_id    budget    revenue  ... release_date vote_average release_year
1582  tt0369339  65000000  217764291  ...     8/4/2004          6.7         2004

[1 rows x 14 columns]

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов
data.columns = ['id_film', 'budget', 'revenue', 'original_title','actors','director','slogan','obzor','runtime','genres','production_companies','release_date','votes','release_year']
data.info() # проверим пропуски

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_film               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   actors                1889 non-null   object
 5   director              1889 non-null   object
 6   slogan                1889 non-null   object
 7   obzor                 1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  votes                 1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [4]:
data.describe()

             budget       revenue      runtime        votes  release_year
count  1.889000e+03  1.889000e+03  1889.000000  1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549     6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041     0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000     3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000     5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000     6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000     6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000     8.100000   2015.000000

In [5]:
data.sample(1)

        id_film    budget   revenue  ... release_date votes release_year
1746  tt0414055  25000000  74237563  ...     9/9/2007   6.4         2007

[1 rows x 14 columns]

In [6]:
len(data)

1889

In [7]:
data.info() # проверим пропуски

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_film               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   actors                1889 non-null   object
 5   director              1889 non-null   object
 6   slogan                1889 non-null   object
 7   obzor                 1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  votes                 1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Вопрос 1. У какого фильма из списка самый большой бюджет?

In [8]:
max_budget = data['budget'].max()
data.loc[data['budget'] == max_budget, 'original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

In [9]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# Вопрос 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
max_runtime = data['runtime'].max()
data.loc[data['runtime'] == max_runtime, 'original_title']

1157    Gods and Generals
Name: original_title, dtype: object

In [11]:
 answers['2'] = '2. Gods and Generals (tt0279111)'

# Вопрос 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
min_runtime = data['runtime'].min()
data.loc[data['runtime'] == min_runtime, 'original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

In [13]:
 answers['3'] = '3. Winnie the Pooh (tt1449283)'

# Вопрос 4. Какова средняя длительность фильмов?

In [14]:
mean_runtime = data['runtime'].mean()
mean_runtime

109.6585494970884

In [15]:
answers['4'] = '2. 110'

# Вопрос 5. Каково медианное значение длительности фильмов?

In [16]:
median_runtime = data['runtime'].median()
median_runtime

107.0

In [17]:
answers['5'] = '1. 107'

# Вопрос 6. Какой фильм самый прибыльный?

In [18]:
#Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма.
# Прибыль = сборы - бюджет (profit = revenue - budget).
# Введем новый столбец

In [19]:
data['profit'] = data['revenue'] - data['budget']

In [20]:
max_profit = data['profit'].max()
data.loc[data['profit'] == max_profit, 'original_title']

239    Avatar
Name: original_title, dtype: object

In [21]:
answers['6'] = '5. Avatar (tt0499549)'

# Вопрос 7. Какой фильм самый убыточный?

In [22]:
min_profit = data['profit'].min()
data.loc[data['profit'] == min_profit, 'original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

In [23]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

# Вопрос 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [24]:
len(data.loc[data['revenue'] >data['budget'], 'original_title'])

1478

In [25]:
answers['8'] = '1. 1478'

# Вопрос 9. Какой фильм оказался самым кассовым в 2008 году?

In [26]:
max2008=data[data['release_year'] == 2008]['profit'].max()

In [27]:
data.loc[data['profit'] == max2008, 'original_title']

599    The Dark Knight
Name: original_title, dtype: object

In [28]:
answers['9'] = '4. The Dark Knight (tt0468569)'

# Вопрос 10. Самый убыточный фильм за период с 2012 по 2014 годы (включительно)?

In [29]:
min12_14=data[(data['release_year'] >= 2012) &(data['release_year'] <= 2014)]['profit'].min()

In [30]:
data.loc[data['profit'] == min12_14, 'original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

In [31]:
answers['10'] = '5.The Lone Ranger (tt1210819)'

# Вопрос 11. Какого жанра фильмов больше всего?

In [32]:
# столбец 'genres' содержит разделитель '|' между жанрами. Преобразуем
list=[i.split('|') for i in data['genres']]
def list_genres(s):
    result=[]
    for lst in s:
      result.extend(lst)
    return result
genres_counter=Counter(list_genres(list))
genres_counter.most_common()

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415),
 ('Crime', 315),
 ('Romance', 308),
 ('Family', 260),
 ('Science Fiction', 248),
 ('Fantasy', 222),
 ('Horror', 176),
 ('Mystery', 168),
 ('Animation', 139),
 ('Music', 64),
 ('History', 62),
 ('War', 58),
 ('Western', 19),
 ('Documentary', 8),
 ('Foreign', 2)]

In [33]:
answers['11'] = '3. Drama'

# Вопрос 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [34]:
f = data[data['profit'] > 0]
list = [i.split('|') for i in f['genres']]
genres_counter=Counter(list_genres(list))

genres_counter.most_common()

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337),
 ('Romance', 242),
 ('Crime', 231),
 ('Family', 226),
 ('Science Fiction', 195),
 ('Fantasy', 188),
 ('Horror', 150),
 ('Animation', 120),
 ('Mystery', 119),
 ('Music', 47),
 ('History', 46),
 ('War', 41),
 ('Western', 12),
 ('Documentary', 7)]

In [35]:
answers['12'] = '1. Drama'

# Вопрос 13. У какого режиссёра самые большие суммарные кассовые сборы?

In [36]:
data.groupby(['director']).profit.sum().to_frame().reset_index().sort_values(by='profit', ascending=False)

                     director      profit
689             Peter Jackson  5202593685
213               David Yates  3379295625
147         Christopher Nolan  3162548502
348               J.J. Abrams  2839169916
587               Michael Bay  2760938960
..                        ...         ...
936  Walter Hill|Jack Sholder   -75171919
186     David Bowers|Sam Fell   -84540684
688               Peter Hyams   -86956545
775             Ron Underwood   -92896027
360           James L. Brooks   -96289726

[957 rows x 2 columns]

In [37]:
answers['13'] = '5. Peter Jackson'

# Вопрос 14. Какой режиссер снял больше всего фильмов в стиле Action?

In [38]:
import collections
c = collections.Counter()
data2 = data[data.genres.str.contains('Action', na = False)]
collections.Counter(data2['director'].str.cat(sep = '|').split('|')).most_common(1)

[('Robert Rodriguez', 9)]

In [39]:
answers['14'] = '3. Robert Rodriguez'

# Вопрос 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [40]:
data2012 = data[data['release_year'] == 2012]
actor_data = Counter()
for i in range(len(data2012)):
     temp_list = data2012.iloc[i]['actors'].split('|')
     for actor in temp_list:
         actor_data[actor] += data2012.iloc[i]['profit']

actor_data.most_common(5)

[('Chris Hemsworth', 1542450773),
 ('Denis Leary', 1319460639),
 ('Robert Downey Jr.', 1299557910),
 ('Chris Evans', 1299557910),
 ('Mark Ruffalo', 1299557910)]

In [41]:
answers['15'] = '3. Chris Hemsworth'

# Вопрос 16. Какой актер снялся в большем количестве высокобюджетных фильмов? Примечание: в фильмах, где бюджет выше среднего по данной выборке.

In [42]:
data_budg = data[(data['budget'] > data['budget'].mean())]['actors']
actors_list = [i.split('|') for i in data_budg ]

def act_list(list):
    result=[]
    for lst in list:
      result.extend(lst)
    return result
#  записываем распакованный список в Counter
counter=Counter(act_list(actors_list))
# выводим самое частое значение в списке
counter.most_common()

[('Matt Damon', 18),
 ('Adam Sandler', 17),
 ('Angelina Jolie', 16),
 ('Tom Cruise', 15),
 ('Samuel L. Jackson', 15),
 ('Eddie Murphy', 15),
 ('Mark Wahlberg', 14),
 ('Hugh Jackman', 14),
 ('Ben Stiller', 14),
 ('Jamie Foxx', 14),
 ('Russell Crowe', 14),
 ('Johnny Depp', 13),
 ('Jude Law', 13),
 ('Bruce Willis', 13),
 ('Will Smith', 13),
 ('Dwayne Johnson', 12),
 ('Ian McKellen', 12),
 ('Brad Pitt', 12),
 ('Owen Wilson', 12),
 ('Cameron Diaz', 12),
 ('Nicolas Cage', 12),
 ('Robert De Niro', 12),
 ('Leonardo DiCaprio', 11),
 ('Daniel Craig', 11),
 ('Robert Downey Jr.', 11),
 ('Steve Buscemi', 11),
 ('Vin Diesel', 10),
 ('Mark Ruffalo', 10),
 ('Jack Black', 10),
 ('Denzel Washington', 10),
 ('Emma Watson', 10),
 ('Gary Oldman', 10),
 ('Tom Hanks', 10),
 ('Orlando Bloom', 10),
 ('Ralph Fiennes', 9),
 ('Cate Blanchett', 9),
 ('Michael Caine', 9),
 ('Ewan McGregor', 9),
 ('Paul Bettany', 9),
 ('Brendan Gleeson', 9),
 ('Shia LaBeouf', 9),
 ('Nicole Kidman', 9),
 ('Colin Farrell', 9),
 ('Rachel Weisz', 9),
 ('Halle Berry', 9),
 ('Charlize Theron', 8),
 ('Kevin James', 8),
 ('Chris Hemsworth', 8),
 ('Helena Bonham Carter', 8),
 ('Josh Hutcherson', 8),
 ('George Clooney', 8),
 ('James Franco', 8),
 ('Christian Bale', 8),
 ('Gerard Butler', 8),
 ('Sylvester Stallone', 8),
 ('Rosario Dawson', 8),
 ('Ben Kingsley', 8),
 ('Bill Nighy', 8),
 ('Daniel Radcliffe', 8),
 ('Rupert Grint', 8),
 ('Jim Carrey', 8),
 ('Vince Vaughn', 8),
 ('Alec Baldwin', 8),
 ('Steve Carell', 8),
 ('Harrison Ford', 7),
 ('Jason Statham', 7),
 ('Chris Evans', 7),
 ('Woody Harrelson', 7),
 ('Josh Brolin', 7),
 ('Jeff Bridges', 7),
 ('Anne Hathaway', 7),
 ('Patrick Stewart', 7),
 ('Jennifer Connelly', 7),
 ('Anthony Hopkins', 7),
 ('Morgan Freeman', 7),
 ('Billy Crudup', 7),
 ('Jason Lee', 7),
 ('Jessica Biel', 7),
 ('Julia Roberts', 7),
 ('Ryan Reynolds', 7),
 ('Liam Neeson', 7),
 ('Karl Urban', 7),
 ('Richard Jenkins', 7),
 ('Chris Rock', 7),
 ('Kate Winslet', 6),
 ('Paul Walker', 6),
 ('Arnold Schwarzenegger', 6),
 ('Sean Bean', 6),
 ('Scarlett Johansson', 6),
 ('Elizabeth Banks', 6),
 ('Ving Rhames', 6),
 ('Mark Strong', 6),
 ('Jeffrey Wright', 6),
 ('Gwyneth Paltrow', 6),
 ('Matthew McConaughey', 6),
 ('Rosamund Pike', 6),
 ('Logan Lerman', 6),
 ('Robin Williams', 6),
 ('Stanley Tucci', 6),
 ('Mel Gibson', 6),
 ('Kevin Costner', 6),
 ('John Goodman', 6),
 ('Aaron Eckhart', 6),
 ('Justin Long', 6),
 ('Will Ferrell', 6),
 ('Seann William Scott', 6),
 ('Paul Giamatti', 6),
 ('Dustin Hoffman', 6),
 ('Mike Myers', 6),
 ('Eva Mendes', 6),
 ('Kate Beckinsale', 6),
 ('Jon Voight', 6),
 ('Jackie Chan', 6),
 ('Tobey Maguire', 6),
 ('Keanu Reeves', 6),
 ('Guy Pearce', 6),
 ('John Leguizamo', 6),
 ('Tommy Lee Jones', 6),
 ('Michelle Rodriguez', 5),
 ('Michael PeÃ±a', 5),
 ('Paul Rudd', 5),
 ('Jennifer Lawrence', 5),
 ('Carla Gugino', 5),
 ('Ioan Gruffudd', 5),
 ('Simon Pegg', 5),
 ('Giovanni Ribisi', 5),
 ('Frances McDormand', 5),
 ('Elijah Wood', 5),
 ('Jake Gyllenhaal', 5),
 ('Sam Worthington', 5),
 ('Delroy Lindo', 5),
 ('Bradley Cooper', 5),
 ('Donald Sutherland', 5),
 ('Ben Affleck', 5),
 ('Andy Serkis', 5),
 ('John Turturro', 5),
 ('Jonah Hill', 5),
 ('Julianne Moore', 5),
 ('John Malkovich', 5),
 ('Ian McShane', 5),
 ('Chris Pine', 5),
 ('Keira Knightley', 5),
 ('Jessica Alba', 5),
 ('Eric Bana', 5),
 ('Benjamin Bratt', 5),
 ('Hank Azaria', 5),
 ('John Travolta', 5),
 ('David Cross', 5),
 ('Clive Owen', 5),
 ('Sam Elliott', 5),
 ('Don Cheadle', 5),
 ('Ron Perlman', 5),
 ('Antonio Banderas', 5),
 ('Peter Sarsgaard', 5),
 ('Zach Galifianakis', 5),
 ('Nick Nolte', 5),
 ('Brendan Fraser', 5),
 ('Jennifer Aniston', 5),
 ('Edward Norton', 5),
 ('Judi Dench', 5),
 ('John C. Reilly', 5),
 ('Sacha Baron Cohen', 5),
 ('Kirsten Dunst', 5),
 ('Djimon Hounsou', 5),
 ('Catherine Zeta-Jones', 5),
 ('Tom Hardy', 4),
 ('Kristen Wiig', 4),
 ('Christoph Waltz', 4),
 ('Michelle Monaghan', 4),
 ('Liam Hemsworth', 4),
 ('Amanda Seyfried', 4),
 ('Steve Martin', 4),
 ('Ray Winstone', 4),
 ('Rose Byrne', 4),
 ('Tom Hiddleston', 4),
 ('Michael Fassbender', 4),
 ('Megan Fox', 4),
 ('Will Arnett', 4),
 ('William Fichtner', 4),
 ('Marton Csokas', 4),
 ('Emma Stone', 4),
 ('Bill Paxton', 4),
 ('Joel Edgerton', 4),
 ('Bryan Cranston', 4),
 ('Jay Baruchel', 4),
 ('Eva Green', 4),
 ('David Wenham', 4),
 ('Michael Gambon', 4),
 ('Mickey Rourke', 4),
 ('Joseph Gordon-Levitt', 4),
 ('Bill Murray', 4),
 ('Carrie-Anne Moss', 4),
 ('Bruce Greenwood', 4),
 ('Patrick Wilson', 4),
 ('Chiwetel Ejiofor', 4),
 ('Thandie Newton', 4),
 ('Anna Faris', 4),
 ('Amy Adams', 4),
 ('Susan Sarandon', 4),
 ('PenÃ©lope Cruz', 4),
 ('Jon Favreau', 4),
 ('Luis GuzmÃ¡n', 4),
 ('Jason Bateman', 4),
 ('Seth Rogen', 4),
 ('Reese Witherspoon', 4),
 ('Tyrese Gibson', 4),
 ('Catherine Keener', 4),
 ('James Cromwell', 4),
 ('Julie Andrews', 4),
 ('Alfred Molina', 4),
 ('Salma Hayek', 4),
 ('Kristen Stewart', 4),
 ('Peter Facinelli', 4),
 ('Jason Isaacs', 4),
 ('Ashton Kutcher', 4),
 ('Jack Nicholson', 4),
 ('Viggo Mortensen', 4),
 ('Liv Tyler', 4),
 ('Ed Harris', 4),
 ('Heath Ledger', 4),
 ('Kurt Russell', 4),
 ('Angela Bassett', 4),
 ('TÃ©a Leoni', 4),
 ('Terrence Howard', 4),
 ('Hayden Christensen', 4),
 ('Terence Stamp', 4),
 ('Anthony Mackie', 4),
 ('Zooey Deschanel', 4),
 ('Matthew Broderick', 4),
 ('Ed Helms', 4),
 ('Hugo Weaving', 4),
 ('Geoffrey Rush', 4),
 ('Natalie Portman', 4),
 ('Denis Leary', 4),
 ('Brian Cox', 4),
 ('Willem Dafoe', 4),
 ('Joaquin Phoenix', 4),
 ('Famke Janssen', 4),
 ('Peter Stormare', 4),
 ('Kerry Washington', 4),
 ('Billy Connolly', 4),
 ('Drew Barrymore', 4),
 ('RenÃ©e Zellweger', 4),
 ('Christopher Walken', 4),
 ('Bryce Dallas Howard', 3),
 ('Theo James', 3),
 ('Miles Teller', 3),
 ('Jason Clarke', 3),
 ('Jai Courtney', 3),
 ('Jessica Chastain', 3),
 ('Sandra Bullock', 3),
 ('Michael Keaton', 3),
 ('Bill Hader', 3),
 ('Monica Bellucci', 3),
 ('Mila Kunis', 3),
 ('Channing Tatum', 3),
 ('Josh Gad', 3),
 ('Michael Douglas', 3),
 ('Bobby Cannavale', 3),
 ('Hugh Laurie', 3),
 ('Alexandra Daddario', 3),
 ('Jeremy Renner', 3),
 ('Amy Ryan', 3),
 ('Henry Cavill', 3),
 ('Armie Hammer', 3),
 ('Kate Mara', 3),
 ('Jamie Bell', 3),
 ('Toby Kebbell', 3),
 ('Garrett Hedlund', 3),
 ('Andy Samberg', 3),
 ('Rachel McAdams', 3),
 ('Marion Cotillard', 3),
 ('Charlie Hunnam', 3),
 ('Casey Affleck', 3),
 ('Zoe Saldana', 3),
 ('Robert Redford', 3),
 ('Martin Freeman', 3),
 ('Richard Armitage', 3),
 ('Neil Patrick Harris', 3),
 ('James McAvoy', 3),
 ('Li Bingbing', 3),
 ('Colm Feore', 3),
 ('Sienna Miller', 3),
 ('Ken Watanabe', 3),
 ('Elle Fanning', 3),
 ('Sharlto Copley', 3),
 ('Luke Evans', 3),
 ('Dominic Cooper', 3),
 ('John Hurt', 3),
 ('Rufus Sewell', 3),
 ('Abbie Cornish', 3),
 ('Jesse Eisenberg', 3),
 ('Leslie Mann', 3),
 ('Andy GarcÃ\xada', 3),
 ('Emily Browning', 3),
 ('Miranda Otto', 3),
 ('William Hurt', 3),
 ('Stephen Lang', 3),
 ('Christopher Plummer', 3),
 ('Malin Ã…kerman', 3),
 ('Amanda Peet', 3),
 ('Stellan SkarsgÃ¥rd', 3),
 ('Dennis Quaid', 3),
 ('Dakota Fanning', 3),
 ('Kristen Bell', 3),
 ('Kiefer Sutherland', 3),
 ('Robin Wright', 3),
 ('Josh Duhamel', 3),
 ('Meryl Streep', 3),
 ('Olivia Wilde', 3),
 ('Freddie Highmore', 3),
 ('Jordana Brewster', 3),
 ('Radha Mitchell', 3),
 ('Liev Schreiber', 3),
 ('Hugh Grant', 3),
 ('Sarah Jessica Parker', 3),
 ('Mary Steenburgen', 3),
 ('Russell Brand', 3),
 ('Emily Mortimer', 3),
 ('Skandar Keynes', 3),
 ('Georgie Henley', 3),
 ('Jason Flemyng', 3),
 ('Mary Elizabeth Winstead', 3),
 ('Brandon T. Jackson', 3),
 ('Mary-Louise Parker', 3),
 ('Maria Bello', 3),
 ('Robert Pattinson', 3),
 ('Taylor Lautner', 3),
 ('Greg Kinnear', 3),
 ('Kristin Davis', 3),
 ('Chris Noth', 3),
 ('James Marsden', 3),
 ('Dan Aykroyd', 3),
 ('Milla Jovovich', 3),
 ('Cuba Gooding Jr.', 3),
 ('Michael Clarke Duncan', 3),
 ('James Gandolfini', 3),
 ('Laurence Fishburne', 3),
 ('Billy Bob Thornton', 3),
 ('Teri Polo', 3),
 ('Lucy Liu', 3),
 ('Jada Pinkett Smith', 3),
 ('David Schwimmer', 3),
 ('Jeffrey Tambor', 3),
 ('Thomas Kretschmann', 3),
 ('Kenneth Branagh', 3),
 ('Cliff Curtis', 3),
 ('Michael Chiklis', 3),
 ('Jaden Smith', 3),
 ('Sienna Guillory', 3),
 ('Al Pacino', 3),
 ('Spencer Breslin', 3),
 ('Paula Patton', 3),
 ('Tim Robbins', 3),
 ('Justin Bartha', 3),
 ('Ken Jeong', 3),
 ('Jane Lynch', 3),
 ('Isla Fisher', 3),
 ('CiarÃ¡n Hinds', 3),
 ('Lily Collins', 3),
 ('Kevin Bacon', 3),
 ('Ray Romano', 3),
 ('Chris Cooper', 3),
 ('Emma Thompson', 3),
 ('William Shatner', 3),
 ('Cole Hauser', 3),
 ('Randy Quaid', 3),
 ('Harvey Keitel', 3),
 ('Scott Glenn', 3),
 ('David Oyelowo', 3),
 ('Michelle Pfeiffer', 3),
 ('David Spade', 3),
 ('Marisa Tomei', 3),
 ('Josh Lucas', 3),
 ('David Thewlis', 3),
 ('Connie Nielsen', 3),
 ('Bruce McGill', 3),
 ('Shirley MacLaine', 3),
 ('Hiroyuki Sanada', 3),
 ('Sean Penn', 3),
 ('Richard Roxburgh', 3),
 ('Val Kilmer', 3),
 ('Emmy Rossum', 3),
 ('Miranda Richardson', 3),
 ('Chris Pratt', 2),
 ('Irrfan Khan', 2),
 ('Nicholas Hoult', 2),
 ('Shailene Woodley', 2),
 ('Domhnall Gleeson', 2),
 ('J.K. Simmons', 2),
 ('Jeff Daniels', 2),
 ('Allison Janney', 2),
 ('Steve Coogan', 2),
 ('Amy Poehler', 2),
 ('LÃ©a Seydoux', 2),
 ('Evangeline Lilly', 2),
 ('Corey Stoll', 2),
 ('Colin Firth', 2),
 ('Giancarlo Esposito', 2),
 ('Alicia Vikander', 2),
 ('Elizabeth Debicki', 2),
 ('Rihanna', 2),
 ('Jennifer Lopez', 2),
 ('Edgar RamÃ\xadrez', 2),
 ('Teresa Palmer', 2),
 ('Viola Davis', 2),
 ('Benjamin Walker', 2),
 ('Ben Whishaw', 2),
 ('Rooney Mara', 2),
 ('Selena Gomez', 2),
 ('Mia Wasikowska', 2),
 ('Sebastian Stan', 2),
 ('Ken Stott', 2),
 ('Graham McTavish', 2),
 ('Jamie Chung', 2),
 ('Rami Malek', 2),
 ('Ray Stevenson', 2),
 ('Nicola Peltz', 2),
 ('Keri Russell', 2),
 ('ChloÃ« Grace Moretz', 2),
 ('Andrew Garfield', 2),
 ('Emily Blunt', 2),
 ('Aaron Paul', 2),
 ('Ben Barnes', 2),
 ('Kit Harington', 2),
 ('Lena Headey', 2),
 ('Joel Kinnaman', 2),
 ('Jackie Earle Haley', 2),
 ('Adewale Akinnuoye-Agbaje', 2),
 ('RamÃ³n RodrÃ\xadguez', 2),
 ('Yvonne Strahovski', 2),
 ('Kellan Lutz', 2),
 ('Sigourney Weaver', 2),
 ('MÃ©lanie Laurent', 2),
 ('Julie Walters', 2),
 ('Zachary Quinto', 2),
 ('Anton Yelchin', 2),
 ('Eddie Marsan', 2),
 ('Jeffrey Dean Morgan', 2),
 ('John Cusack', 2),
 ('Oliver Platt', 2),
 ('Keith David', 2),
 ('Marlon Wayans', 2),
 ('James Caan', 2),
 ('Saoirse Ronan', 2),
 ('Sam Rockwell', 2),
 ('Tracy Morgan', 2),
 ('Zachary Levi', 2),
 ('Mary Kay Place', 2),
 ('Michael Cera', 2),
 ('Oscar Isaac', 2),
 ('Danny Huston', 2),
 ('Lynn Collins', 2),
 ('Jason Segel', 2),
 ('Dolph Lundgren', 2),
 ('Michelle Williams', 2),
 ('Mandy Moore', 2),
 ('Tim Allen', 2),
 ('Ned Beatty', 2),
 ('Joan Cusack', 2),
 ('Timothy Dalton', 2),
 ('Gemma Arterton', 2),
 ('Anna Kendrick', 2),
 ('Barbra Streisand', 2),
 ('Helen Mirren', 2),
 ('Tina Fey', 2),
 ('Ashley Greene', 2),
 ('Jordi MollÃ\xa0', 2),
 ('Javier Bardem', 2),
 ('Katherine Heigl', 2),
 ('Tom Selleck', 2),
 ('Cynthia Nixon', 2),
 ('Kim Cattrall', 2),
 ('Essie Davis', 2),
 ('Eric Dane', 2),
 ('Cam Gigandet', 2),
 ('Julianne Hough', 2),
 ('Stephanie Szostak', 2),
 ('Bette Midler', 2),
 ('Carey Mulligan', 2),
 ('Justin Timberlake', 2),
 ('John Cleese', 2),
 ('Billy Crystal', 2),
 ("Frances O'Connor", 2),
 ('John Lithgow', 2),
 ('Josh Hartnett', 2),
 ('John Hannah', 2),
 ('Arnold Vosloo', 2),
 ('Michael J. Fox', 2),
 ('James Garner', 2),
 ('Noah Taylor', 2),
 ('Tim Roth', 2),
 ('Kris Kristofferson', 2),
 ('Tom Sizemore', 2),
 ('Chris Tucker', 2),
 ('Zhang Ziyi', 2),
 ('Ernie Reyes, Jr.', 2),
 ('Elizabeth Perkins', 2),
 ('Sam Shepard', 2),
 ('Dylan Baker', 2),
 ('Gene Hackman', 2),
 ('Dominic West', 2),
 ('Edward Burns', 2),
 ('Martin Landau', 2),
 ('David Ogden Stiers', 2),
 ('Courteney Cox', 2),
 ('David Hyde Pierce', 2),
 ('Til Schweiger', 2),
 ('David Andrews', 2),
 ('William H. Macy', 2),
 ('Jeff Garlin', 2),
 ('Olga Kurylenko', 2),
 ('Jet Li', 2),
 ('Selma Blair', 2),
 ('Michael Rooker', 2),
 ('William Moseley', 2),
 ('Anna Popplewell', 2),
 ('Kathy Bates', 2),
 ('Michael Ealy', 2),
 ('Malcolm McDowell', 2),
 ('Alan Arkin', 2),
 ('Ali Suliman', 2),
 ('Adam Scott', 2),
 ('Kate Hudson', 2),
 ('Ewen Bremner', 2),
 ('Lambert Wilson', 2),
 ('Charlotte Rampling', 2),
 ('Robert Duvall', 2),
 ('Christina Ricci', 2),
 ('Matthew Fox', 2),
 ('Gabriel Macht', 2),
 ('Paz Vega', 2),
 ('Kevin Kline', 2),
 ('Gabrielle Union', 2),
 ('Goran Visnjic', 2),
 ('Bailee Madison', 2),
 ('Noomi Rapace', 2),
 ('Larry the Cable Guy', 2),
 ('Eddie Izzard', 2),
 ('Vanessa Hudgens', 2),
 ('Emily Watson', 2),
 ('Asa Butterfield', 2),
 ('Dominic Purcell', 2),
 ('Maggie Q', 2),
 ('Isabel Lucas', 2),
 ('Katie Holmes', 2),
 ('Amy Sedaris', 2),
 ('Jason Momoa', 2),
 ('Lea Michele', 2),
 ('Johnny A. Sanchez', 2),
 ('Seth Green', 2),
 ('Queen Latifah', 2),
 ('Richard Harris', 2),
 ('Franka Potente', 2),
 ('Ian McDiarmid', 2),
 ('Max von Sydow', 2),
 ('Abigail Breslin', 2),
 ('Elias Koteas', 2),
 ('Liam Aiken', 2),
 ('Paul Newman', 2),
 ('BeyoncÃ© Knowles', 2),
 ('Mark Addy', 2),
 ('Adam Beach', 2),
 ('Izabella Scorupco', 2),
 ('Naomie Harris', 2),
 ('Idris Elba', 2),
 ('Martin Sheen', 2),
 ('Kevin McKidd', 2),
 ('Jim Broadbent', 2),
 ('Jim Sturgess', 2),
 ('Jonny Lee Miller', 2),
 ('Timothy Spall', 2),
 ('Taylor Kitsch', 2),
 ('Tadanobu Asano', 2),
 ('Nathan Lane', 2),
 ('Jack Davenport', 2),
 ('Claire Danes', 2),
 ('Jennifer Garner', 2),
 ('Martin Lawrence', 2),
 ('TchÃ©ky Karyo', 2),
 ('Bernie Mac', 2),
 ('Robert Patrick', 2),
 ('Steve Zahn', 2),
 ('Timothy Olyphant', 2),
 ('Diane Lane', 2),
 ('Jodie Foster', 2),
 ('Alice Braga', 2),
 ('Diego Luna', 2),
 ('James Badge Dale', 2),
 ('Patton Oswalt', 2),
 ('Cloris Leachman', 2),
 ('Max Martini', 2),
 ('Maggie Gyllenhaal', 2),
 ('Sung Kang', 2),
 ('Sophie Okonedo', 2),
 ('Zach Braff', 2),
 ('Jim Belushi', 2),
 ('AnnaSophia Robb', 2),
 ('Julian McMahon', 2),
 ('Lauren Graham', 2),
 ('Gong Li', 2),
 ('Amber Valletta', 2),
 ('Jeremy Irons', 2),
 ('Adrien Brody', 2),
 ('Lucas Black', 2),
 ('Donal Logue', 2),
 ('Paddy Considine', 2),
 ('Bonnie Hunt', 2),
 ('Yvan Attal', 2),
 ('Mads Mikkelsen', 2),
 ('Jean Reno', 2),
 ('Philip Seymour Hoffman', 2),
 ('Jonathan Rhys Meyers', 2),
 ('David Strathairn', 2),
 ('Sharon Stone', 2),
 ('Jacinda Barrett', 2),
 ('Gary Sinise', 2),
 ('Danny Glover', 2),
 ('Julia Stiles', 2),
 ('Diane Kruger', 2),
 ('Chi McBride', 2),
 ('Jane Krakowski', 2),
 ('Glenn Close', 2),
 ('Patrick Warburton', 2),
 ('John Michael Higgins', 2),
 ('Helen Hunt', 2),
 ("Vincent D'Onofrio", 1),
 ('Nick Robinson', 1),
 ('Hugh Keays-Byrne', 1),
 ('Josh Helman', 1),
 ('Ansel Elgort', 1),
 ('Mark Hamill', 1),
 ('Carrie Fisher', 1),
 ('Adam Driver', 1),
 ('Daisy Ridley', 1),
 ('Will Poulter', 1),
 ('Paul Anderson', 1),
 ('Emilia Clarke', 1),
 ('Jon Hamm', 1),
 ('Phyllis Smith', 1),
 ('Richard Kind', 1),
 ('Lewis Black', 1),
 ('Eddie Redmayne', 1),
 ('Douglas Booth', 1),
 ('Peter Dinklage', 1),
 ('Lily James', 1),
 ('Richard Madden', 1),
 ('Holliday Grainger', 1),
 ('Britt Robertson', 1),
 ('Raffey Cassidy', 1),
 ('Thomas Robinson', 1),
 ('Archie Panjabi', 1),
 ('Rebecca Ferguson', 1),
 ('Seth MacFarlane', 1),
 ('Jessica Barth', 1),
 ('Taron Egerton', 1),
 ("Dylan O'Brien", 1),
 ('Kaya Scodelario', 1),
 ('Thomas Brodie-Sangster', 1),
 ('Aidan Gillen', 1),
 ('Dylan Minnette', 1),
 ('Odeya Rush', 1),
 ('Jillian Bell', 1),
 ('Raymond Ochoa', 1),
 ('Jack Bright', 1),
 ('Maleah Nipay-Padilla', 1),
 ('Rose Leslie', 1),
 ('Ã“lafur Darri Ã“lafsson', 1),
 ('Luca Calvani', 1),
 ('Jim Parsons', 1),
 ('Matt Jones', 1),
 ('John Hawkes', 1),
 ('Luke Bracey', 1),
 ('Olivia Munn', 1),
 ('Leehom Wang', 1),
 ('Tang Wei', 1),
 ('Holt McCallany', 1),
 ('Michael B. Jordan', 1),
 ('Melissa McCarthy', 1),
 ('Miranda Hart', 1),
 ('Cillian Murphy', 1),
 ('Levi Miller', 1),
 ('Noah Schnapp', 1),
 ('Bill Melendez', 1),
 ('Venus Schultheis', 1),
 ('Hadley Belle Miller', 1),
 ('Madisyn Shipman', 1),
 ('Jim Beaver', 1),
 ('Tom Kenny', 1),
 ('Bill Fagerbakke', 1),
 ('Rodger Bumpass', 1),
 ('Clancy Brown', 1),
 ('Carolyn Lawrence', 1),
 ('Dave Bautista', 1),
 ('Scott Adsit', 1),
 ('Ryan Potter', 1),
 ('Daniel Henney', 1),
 ('T.J. Miller', 1),
 ('Carrie Coon', 1),
 ('Tyler Perry', 1),
 ('Jon Bernthal', 1),
 ('Rebel Wilson', 1),
 ('Alan Ritchson', 1),
 ('Noel Fisher', 1),
 ('Jack Reynor', 1),
 ('Judy Greer', 1),
 ('David Harbour', 1),
 ('Haley Bennett', 1),
 ('Dane DeHaan', 1),
 ('Jonas Armstrong', 1),
 ('Kyle Gallner', 1),
 ('Cole Konis', 1),
 ('Ben Reed', 1),
 ('Ben Mendelsohn', 1),
 ('Aaron Taylor-Johnson', 1),
 ('Elizabeth Olsen', 1),
 ('Juliette Binoche', 1),
 ('Juno Temple', 1),
 ('Isobelle Molloy', 1),
 ('Craig Berry', 1),
 ('Alison Brie', 1),
 ('David Burrows', 1),
 ('Sarah Gadon', 1),
 ('Art Parkinson', 1),
 ('Charles Dance', 1),
 ('Tom McGrath', 1),
 ('Chris Miller', 1),
 ('Christopher Knights', 1),
 ('Conrad Vernon', 1),
 ('Sullivan Stapleton', 1),
 ('Callan Mulvey', 1),
 ('Peter Capaldi', 1),
 ('Imelda Staunton', 1),
 ('Aksel Hennie', 1),
 ('Nonso Anozie', 1),
 ('Gemma Chan', 1),
 ('Rebecca Hall', 1),
 ('Ty Burrell', 1),
 ('Max Charles', 1),
 ('Ariel Winter', 1),
 ('Ellie Kemper', 1),
 ("Jack O'Connell", 1),
 ('Takamasa Ishihara', 1),
 ('Finn Wittrock', 1),
 ('Jessica Lucas', 1),
 ('QuvenzhanÃ© Wallis', 1),
 ('Imogen Poots', 1),
 ('Isaac Hempstead Wright', 1),
 ('Dee Bradley Baker', 1),
 ('Steve Blum', 1),
 ('Jessica Brown Findlay', 1),
 ('Liam McIntyre', 1),
 ('Gaia Weiss', 1),
 ('Scott Adkins', 1),
 ('Roxanne McKee', 1),
 ('Eli Roth', 1),
 ('Tom Felton', 1),
 ('Ed Asner', 1),
 ('Jordan Nagai', 1),
 ('Bob Peterson', 1),
 ('Leonard Nimoy', 1),
 ('Moon Bloodgood', 1),
 ('Ayelet Zurer', 1),
 ('Pierfrancesco Favino', 1),
 ('Anika Noni Rose', 1),
 ('Bruno Campos', 1),
 ('Michael-Leon Wooley', 1),
 ('Jennifer Cody', 1),
 ('Mr. T', 1),
 ('Teri Hatcher', 1),
 ('Jennifer Saunders', 1),
 ('Dawn French', 1),
 ('Steve Valentine', 1),
 ('Daryl Sabara', 1),
 ('Sage Ryan', 1),
 ('Victor Gojcaj', 1),
 ('Matthew Gray Gubler', 1),
 ('Rainn Wilson', 1),
 ('Lake Bell', 1),
 ('Anna Friel', 1),
 ('Danny McBride', 1),
 ('Jorma Taccone', 1),
 ('Matt Lauer', 1),
 ('Tony Kgoroge', 1),
 ('Patrick Mofokeng', 1),
 ('Matt Stern', 1),
 ('Max Minghella', 1),
 ('Ashraf Barhom', 1),
 ('Michael Lonsdale', 1),
 ('John Ortiz', 1),
 ('Tom Wilkinson', 1),
 ('Lisa Roberts Gillan', 1),
 ('Nelsan Ellis', 1),
 ('Michael Bunin', 1),
 ('Natalia Klimas', 1),
 ('Ellen Page', 1),
 ('Crispin Glover', 1),
 ('Eric Roberts', 1),
 ('Randy Couture', 1),
 ('Craig Ferguson', 1),
 ('America Ferrera', 1),
 ('Bruce Boxleitner', 1),
 ('Yaya DaCosta', 1),
 ('Donna Murphy', 1),
 ('M.C. Gainey', 1),
 ('Daniel Olbrychski', 1),
 ('Gary Sweet', 1),
 ('Arthur Angel', 1),
 ('Steven Berkoff', 1),
 ('Steve Toussaint', 1),
 ('Kieran Culkin', 1),
 ('Jake Abel', 1),
 ('Ethan Suplee', 1),
 ('Kevin Corrigan', 1),
 ('Maya Rudolph', 1),
 ('Jennifer Beals', 1),
 ('Taraji P. Henson', 1),
 ('Jimmi Simpson', 1),
 ('Noah Ringer', 1),
 ('Jackson Rathbone', 1),
 ('Dev Patel', 1),
 ('Shaun Toub', 1),
 ("Chris O'Dowd", 1),
 ('Juliette Lewis', 1),
 ("Catherine O'Hara", 1),
 ('Alex Borstein', 1),
 ('Emily Barclay', 1),
 ('Deborra-Lee Furness', 1),
 ('Cher', 1),
 ('Christina Aguilera', 1),
 ('Jemaine Clement', 1),
 ('Christina Applegate', 1),
 ('Pascale Hutton', 1),
 ('Kathryn Hahn', 1),
 ('Frank Langella', 1),
 ('Tom Cavanagh', 1),
 ('Christine Taylor', 1),
 ('Shawn Roberts', 1),
 ("Denis O'Hare", 1),
 ('Wentworth Miller', 1),
 ('Ali Larter', 1),
 ('Kim Coates', 1),
 ('Kacey Barnfield', 1),
 ('Robbie Coltrane', 1),
 ('Mary Gibbs', 1),
 ('James Coburn', 1),
 ('Haley Joel Osment', 1),
 ('Sam Robards', 1),
 ('Jake Thomas', 1),
 ('Vincent Cassel', 1),
 ('Oded Fehr', 1),
 ('Corey Burton', 1),
 ('Claudia Christian', 1),
 ('John Mahoney', 1),
 ('Iain Glen', 1),
 ('Joseph Fiennes', 1),
 ('Bob Hoskins', 1),
 ('Shannyn Sossamon', 1),
 ('Laura Fraser', 1),
 ('Roselyn SÃ¡nchez', 1),
 ('Jeff Goldblum', 1),
 ('Alexander Pollock', 1),
 ('Miriam Margolyes', 1),
 ('Catherine McCormack', 1),
 ('Stephen Dillane', 1),

In [43]:
answers['16'] = '3. Matt Damon'

# Вопрос 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [44]:
# сначала сделаем фрагмент датафрейма с фильмами в которых снимался Nicolas Cage 
NC = data[data['actors'].str.contains('Nicolas Cage')]

# теперь возьмем код, который использовали для подсчета фильмов по жанрам (вопрос 11)
list=[i.split('|') for i in NC['genres']]
def list_genres(s):
    result=[]
    for lst in s:
      result.extend(lst)
    return result
genres_counter=Counter(list_genres(list))
genres_counter.most_common(5)

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8)]

In [45]:
answers['17'] = '2. Action'

# Вопрос 18. Самый убыточный фильм от Paramount Pictures?

In [46]:
data[data['production_companies'].str.contains('Paramount Pictures')].sort_values('profit')[['profit', 'original_title']]

         profit                                     original_title
925   -64831034                               K-19: The Widowmaker
1123  -60519261                                           Timeline
1722  -51788987                                               Next
1623  -46604061                                              Alfie
1631  -24805000                                            Twisted
...         ...                                                ...
730   549713380               Mission: Impossible - Ghost Protocol
1738  559709780                                       Transformers
603   601636033  Indiana Jones and the Kingdom of the Crystal S...
317   686297228                Transformers: Revenge of the Fallen
828   928746996                     Transformers: Dark of the Moon

[122 rows x 2 columns]

In [47]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)n'

# Вопрос 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [48]:
data.groupby('release_year')['profit'].sum().sort_values(ascending=False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2010    13531204961
2009    13423744372
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

In [49]:
answers['19'] = '5. 2015'

# Вопрос 20. Какой самый прибыльный год для студии Warner Bros?

In [50]:

data_Warner_Bros = data[data['production_companies'].str.contains('Warner Bros')]
data_Warner_Bros.groupby('release_year')['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [51]:
answers['20'] = '1. 2014'

# Вопрос 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [52]:
# нужно создать новый столбец месяц
data['month'] = pd.to_datetime(data['release_date'], infer_datetime_format=True).dt.strftime('%b')

In [53]:
data_month=data.groupby('month')['profit'].count().sort_values(ascending=False)
data_month

month
Sep    227
Dec    190
Oct    186
Aug    161
Mar    156
Apr    149
Jun    147
Nov    146
Jul    142
May    140
Feb    135
Jan    110
Name: profit, dtype: int64

In [54]:
answers['21'] = '4. Сентябрь'

#Вопрос 22. Сколько суммарно вышло фильмов летом (за июнь, июль, август)?

In [55]:
data_month['Jun']+data_month['Aug']+data_month['Jul']

450

In [56]:
answers['22'] = '2. 450'

# Вопрос 23. Для какого режиссера зима — самое продуктивное время года?

In [57]:
list_winter = ['Dec', 'Jan', 'Feb']
winter_counter = Counter()
for i in range(len(data)):
     if (data.iloc[i]['month'] in list_winter):  
         temp_list = data.iloc[i]['director'].split('|')
         for director in temp_list:
             winter_counter[director] += 1  
     else:
         continue

winter_counter.most_common()

[('Peter Jackson', 7),
 ('Clint Eastwood', 6),
 ('Steven Soderbergh', 6),
 ('Shawn Levy', 4),
 ('Nancy Meyers', 4),
 ('Martin Scorsese', 4),
 ('Adam Shankman', 4),
 ('Ridley Scott', 3),
 ('Rob Marshall', 3),
 ('Tim Burton', 3),
 ('Steve Carr', 3),
 ('Patrick Lussier', 3),
 ('Donald Petrie', 3),
 ('Marc Lawrence', 3),
 ('Lasse HallstrÃ¶m', 3),
 ('Edward Zwick', 3),
 ('Jason Friedberg', 3),
 ('Aaron Seltzer', 3),
 ('Peter Farrelly', 3),
 ('Steven Spielberg', 3),
 ('Wayne Wang', 3),
 ('Quentin Tarantino', 2),
 ('Adam McKay', 2),
 ('Michael Mann', 2),
 ('Glenn Ficarra', 2),
 ('John Requa', 2),
 ('Pierre Morel', 2),
 ('Wes Anderson', 2),
 ('Paul Thomas Anderson', 2),
 ('Jaume Collet-Serra', 2),
 ('George Clooney', 2),
 ('Shana Feste', 2),
 ('Ken Kwapis', 2),
 ('Henry Selick', 2),
 ('P.J. Hogan', 2),
 ('David S. Goyer', 2),
 ('Paul McGuigan', 2),
 ('Marcus Nispel', 2),
 ('Andrzej Bartkowiak', 2),
 ('Scott Cooper', 2),
 ('Allen Hughes', 2),
 ('Garry Marshall', 2),
 ('David O. Russell', 2),
 ('James L. Brooks', 2),
 ('Brian Levant', 2),
 ('Martin Campbell', 2),
 ('Ron Howard', 2),
 ('Cameron Crowe', 2),
 ('Dennis Dugan', 2),
 ('Mark Waters', 2),
 ('Thomas Carter', 2),
 ('Bryan Singer', 2),
 ('Sylvester Stallone', 2),
 ('Jon M. Chu', 2),
 ('Gabriele Muccino', 2),
 ('Andy Tennant', 2),
 ('David Wain', 2),
 ('Brad Anderson', 2),
 ('Gregory Hoblit', 2),
 ('Simon West', 2),
 ('Bobby Farrelly', 2),
 ('Jason Reitman', 2),
 ('Joe Carnahan', 2),
 ('Stephen Daldry', 2),
 ('John Whitesell', 2),
 ('Spike Jonze', 2),
 ('Denzel Washington', 2),
 ('Mark Steven Johnson', 2),
 ('John Moore', 2),
 ('Walter Hill', 2),
 ('Brett Ratner', 2),
 ('Peter Segal', 2),
 ('Francis Lawrence', 2),
 ('Rob Reiner', 2),
 ('Wes Craven', 2),
 ('Mel Gibson', 2),
 ('Mike Nichols', 2),
 ('Joel Schumacher', 2),
 ('J.J. Abrams', 1),
 ('Alejandro GonzÃ¡lez IÃ±Ã¡rritu', 1),
 ('Lana Wachowski', 1),
 ('Lilly Wachowski', 1),
 ('Alex Garland', 1),
 ('Olivier Megaton', 1),
 ('Sam Taylor-Johnson', 1),
 ('Matthew Vaughn', 1),
 ('Ericson Core', 1),
 ('David Koepp', 1),
 ('Sean Anders', 1),
 ('Ari Sandel', 1),
 ('Jeremy Garelick', 1),
 ('Jason Moore', 1),
 ('Dean Israelite', 1),
 ('Paul Tibbitt', 1),
 ('Mike Binder', 1),
 ('Evan Goldberg', 1),
 ('Seth Rogen', 1),
 ('Phil Lord', 1),
 ('Christopher Miller', 1),
 ('Sergey Bodrov', 1),
 ('J.C. Chandor', 1),
 ('Tim Story', 1),
 ('Kenneth Branagh', 1),
 ('JosÃ© Padilha', 1),
 ('Rob Minkoff', 1),
 ('Angelina Jolie', 1),
 ('Ava DuVernay', 1),
 ('Paul W.S. Anderson', 1),
 ('Will Gluck', 1),
 ('Stuart Beattie', 1),
 ('Tom Gormican', 1),
 ('Akiva Goldsman', 1),
 ('Russell Crowe', 1),
 ('Steve Pink', 1),
 ('Christopher Spencer', 1),
 ('GrÃ©gory Levasseur', 1),
 ('Renny Harlin', 1),
 ('Rupert Wyatt', 1),
 ('Matt Bettinelli-Olpin', 1),
 ('Tyler Gillett', 1),
 ('James Cameron', 1),
 ('Patrick Tatopoulos', 1),
 ('Guy Ritchie', 1),
 ('Ron Clements', 1),
 ('John Musker', 1),
 ('Jim Sheridan', 1),
 ('Betty Thomas', 1),
 ('Gary Winick', 1),
 ('Michael Spierig', 1),
 ('Peter Spierig', 1),
 ('Antoine Fuqua', 1),
 ('Rajkumar Hirani', 1),
 ('NimrÃ³d Antal', 1),
 ('Tom Tykwer', 1),
 ('Thor Freudenthal', 1),
 ('Jonas Elmer', 1),
 ('Darren Aronofsky', 1),
 ('Joseph Kosinski', 1),
 ('Florian Henckel von Donnersmarck', 1),
 ('Ethan Coen', 1),
 ('Joel Coen', 1),
 ('Paul Weitz', 1),
 ('Chris Columbus', 1),
 ('Albert Hughes', 1),
 ('Anand Tucker', 1),
 ('Rob Letterman', 1),
 ('Roman Polanski', 1),
 ('Scott Stewart', 1),
 ('Kevin Smith', 1),
 ('Neil Marshall', 1),
 ('Roger Michell', 1),
 ('Michael Lembeck', 1),
 ('Breck Eisner', 1),
 ('Eric Brevig', 1),
 ('Tom Vaughan', 1),
 ('John Erick Dowdle', 1),
 ('Joel Gallen', 1),
 ('John A. Davis', 1),
 ('Peter Howitt', 1),
 ('Jessie Nelson', 1),
 ('John Boorman', 1),
 ("Pat O'Connor", 1),
 ('Jesse Dylan', 1),
 ('Frank Darabont', 1),
 ('Demian Lichtenstein', 1),
 ('Francine McDougall', 1),
 ('Doug Liman', 1),
 ('Roland Emmerich', 1),
 ('Scott Derrickson', 1),
 ('Matt Reeves', 1),
 ('Peyton Reed', 1),
 ('David Frankel', 1),
 ('Anne Fletcher', 1),
 ('Iain Softley', 1),
 ('Lexi Alexander', 1),
 ('Pete Travis', 1),
 ('Martin McDonagh', 1),
 ('David Moreau', 1),
 ('Xavier Palud', 1),
 ('Frank Miller', 1),
 ('Sam Mendes', 1),
 ('Malcolm D. Lee', 1),
 ('Nicolas Winding Refn', 1),
 ('Brad Bird', 1),
 ('David Fincher', 1),
 ('Ivan Reitman', 1),
 ('D.J. Caruso', 1),
 ('Mark Neveldine', 1),
 ('Brian Taylor', 1),
 ('Mikael HÃ¥fstrÃ¶m', 1),
 ('Greg Mottola', 1),
 ('Dominic Sena', 1),
 ('Chris Gorak', 1),
 ('Christian E. Christiansen', 1),
 ('Michel Gondry', 1),
 ('Daniel Barnz', 1),
 ('Mike Mitchell', 1),
 ('Kelly Asbury', 1),
 ('Kevin Macdonald', 1),
 ('David Gordon Green', 1),
 ('Alister Grierson', 1),
 ('Benny Chan', 1),
 ('Phyllida Lloyd', 1),
 ('Lee Tamahori', 1),
 ('Rodrigo GarcÃ\xada', 1),
 ('Joel Zwick', 1),
 ('Andrew Davis', 1),
 ('Stuart Baird', 1),
 ('Kurt Wimmer', 1),
 ('Miguel Arteta', 1),
 ('Jim Gillespie', 1),
 ('Ron Shelton', 1),
 ('Nick Cassavetes', 1),
 ('Michael Rymer', 1),
 ('Robin Budd', 1),
 ('Donovan Cook', 1),
 ('Dewey Nicks', 1),
 ('Alexander Payne', 1),
 ('Mark Pellington', 1),
 ('Tamra Davis', 1),
 ('Tom Shadyac', 1),
 ('Charles Stone III', 1),
 ('MÃ¥ns MÃ¥rlind', 1),
 ('BjÃ¶rn Stein', 1),
 ('Christopher McQuarrie', 1),
 ('Michael Sucsy', 1),
 ('Brad Peyton', 1),
 ('Tom Hooper', 1),
 ('Kathryn Bigelow', 1),
 ('Josh Trank', 1),
 ('Mike McCoy', 1),
 ('Scott Waugh', 1),
 ('Baltasar KormÃ¡kur', 1),
 ('Judd Apatow', 1),
 ('James Watkins', 1),
 ('Daniel Espinosa', 1),
 ('Asger Leth', 1),
 ('Julie Anne Robinson', 1),
 ('Anthony Hemingway', 1),
 ('Andy Fickman', 1),
 ('Steve Trenbirth', 1),
 ('Todd Phillips', 1),
 ('David Dobkin', 1),
 ('John Woo', 1),
 ('David R. Ellis', 1),
 ('Anthony Minghella', 1),
 ('Ronald F. Maxwell', 1),
 ('Alan Parker', 1),
 ('Chris Koch', 1),
 ('Ben Stiller', 1),
 ('Jonathan Levine', 1),
 ('Tommy Wirkola', 1),
 ('Carl Rinsch', 1),
 ('Peter Berg', 1),
 ('Harmony Korine', 1),
 ('Taylor Hackford', 1),
 ('Ruben Fleischer', 1),
 ('Seth Gordon', 1),
 ('John Luessenhop', 1),
 ('Andy Muschietti', 1),
 ('Steven Brill', 1),
 ('Elizabeth Banks', 1),
 ('Rusty Cundieff', 1),
 ('James Duffy', 1),
 ('Griffin Dunne', 1),
 ('Patrik Forsberg', 1),
 ('James Gunn', 1),
 ('Will Graham', 1),
 ('Jonathan van Tulleken', 1),
 ('Callan Brunker', 1),
 ('Giuseppe Tornatore', 1),
 ('Jonathan Teplitzky', 1),
 ('Neil Nightingale', 1),
 ('Barry Cook', 1),
 ('Ric Roman Waugh', 1),
 ('John Wells', 1),
 ('Christopher B. Landon', 1),
 ('Ed Gass-Donnelly', 1),
 ('Justin Chadwick', 1),
 ('Andrew Adamson', 1),
 ('James McTeigue', 1),
 ('Garth Jennings', 1),
 ('Rob Bowman', 1),
 ('Cory Edwards', 1),
 ('Todd Edwards', 1),
 ('Tony Leech', 1),
 ('John Polson', 1),
 ('Frederik Du Chau', 1),
 ('Dean Parisot', 1),
 ('Louis Leterrier', 1),
 ('Jean-FranÃ§ois Richet', 1),
 ('Clare Kilner', 1),
 ('Geoffrey Sax', 1),
 ('Uwe Boll', 1),
 ('Stephen Kay', 1),
 ('Niki Caro', 1),
 ('Len Wiseman', 1),
 ('Frank Marshall', 1),
 ('James Wong', 1),
 ('Stefen Fangmeier', 1),
 ('Robert De Niro', 1),
 ("Matthew O'Callaghan", 1),
 ('McG', 1),
 ('Joe Roth', 1),
 ('Nick Hurran', 1),
 ('Bill Condon', 1),
 ('Chris Noonan', 1),
 ('Craig Brewer', 1),
 ('Richard Eyre', 1),
 ('Wayne Kramer', 1),
 ('Richard Loncraine', 1),
 ('Glen Morgan', 1),
 ('Justin Lin', 1),
 ('Eric Bress', 1),
 ('J. Mackye Gruber', 1),
 ('Jay Roach', 1),
 ('Brad Silberling', 1),
 ('Jeff Schaffer', 1),
 ('John Hamburg', 1),
 ('Philip Kaufman', 1),
 ('Sara Sugarman', 1),
 ('Guy Ferland', 1),
 ('Kevin Rodney Sullivan', 1),
 ('Joseph Kahn', 1),
 ("Gavin O'Connor", 1),
 ('Jay Chandrasekhar', 1),
 ('George Armitage', 1),
 ('Kevin Allen', 1),
 ('Jon Turteltaub', 1),
 ('GÃ¡bor CsupÃ³', 1),
 ('Tim Hill', 1),
 ('Chris Weitz', 1),
 ('Jon Avnet', 1),
 ('Mennan Yapo', 1),
 ('Dave Meyers', 1),
 ('Michael Winterbottom', 1),
 ('Brian Robbins', 1),
 ('Richard LaGravenese', 1),
 ('Jay Russell', 1),
 ('Jake Kasdan', 1),
 ('David Leland', 1),
 ('Peter Webber', 1),
 ('Tyler Perry', 1),
 ('Ben Garant', 1),
 ('Robert Zemeckis', 1),
 ('Mark Dindal', 1),
 ('David Twohy', 1),
 ('Ben Younger', 1),
 ('Sam Raimi', 1),
 ('Danny Leiner', 1),
 ('Jonathan Lynn', 1),
 ('Roger Donaldson', 1),
 ('Danny Boyle', 1),
 ('John Frankenheimer', 1),
 ('Gus Van Sant', 1),
 ('Jack Sholder', 1),
 ('Courtney Solomon', 1),
 ('Diane Keaton', 1)]

In [58]:
answers['23'] = '5. Peter Jackson'

#  Вопрос 24. Какая студия даёт самые длинные названия своим фильмам по количеству символов?

In [59]:
data['name_length'] = data.original_title.apply(lambda x: len(x))
data['production_companies'] = data.production_companies.str.split("|")
companies_df = data.explode('production_companies')
companies_df.groupby('production_companies').name_length.mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

In [60]:
answers['24'] = '5. Four By Two Productions'

# Вопрос 25. Описания фильмов какой студии в среднем самые длинные по количеству слов?

In [74]:
data25 = data[["obzor","production_companies"]]\
        .explode("production_companies")

data25["overview_numwords"] = data25['obzor'].map(
    lambda x: len(x.split(" ")))

data25\
        .groupby(by = 'production_companies')\
        .overview_numwords.mean()\
        .sort_values(ascending = False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_numwords, Length: 1771, dtype: float64

In [75]:
answers['25'] = '3. Midnight Picture Show'

# Вопрос 26. Какие фильмы входят в один процент лучших по рейтингу?

In [76]:
persent_limit = data['votes'].quantile(0.99)

data.loc[data['votes']>persent_limit][['original_title','votes']]

                                     original_title  votes
9                                        Inside Out    8.0
34                                             Room    8.0
118                                    Interstellar    8.0
119                         Guardians of the Galaxy    7.9
125                              The Imitation Game    8.0
128                                       Gone Girl    7.9
138                        The Grand Budapest Hotel    7.9
370                                       Inception    7.9
599                                 The Dark Knight    8.1
872                                     The Pianist    7.9
1081  The Lord of the Rings: The Return of the King    7.9
1183                        The Wolf of Wall Street    7.9
1191                               12 Years a Slave    7.9
1800                                        Memento    7.9

In [77]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# Вопрос 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [83]:

actors_and_actor_counter = Counter()
for i in range(len(data)):
     temp_list = data.iloc[i]['actors'].split('|')
     for actor1 in temp_list:
         new_list = temp_list.copy()
         new_list.remove(actor1)
         for actor2 in new_list:
             actors_and_actor_counter[(actor1, actor2)] += 1

actors_and_actor_counter.most_common(8)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Daniel Radcliffe'), 8),
 (('Rupert Grint', 'Emma Watson'), 8),
 (('Emma Watson', 'Daniel Radcliffe'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Owen Wilson', 'Ben Stiller'), 6)]

In [84]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

# Submission

In [87]:
# в конце можно посмотреть свои ответы к каждому вопросу

In [88]:
# проверим количество ответов
len(answers)

27